<br><br><br><br><br><br>


<headline> <h1> Edit Your Tag </h1> </headline>


<form action="/counting_pennies/tag/<%= @tags.id %>" method="post">


  <label for="product-field"> Tag Name</label>
  <input type="text" name="name" id='product-field' value="<%= @tags.name %>">

  <input type='submit' value="Edit Tag">


</form>

<p> <%= @tags.id %></p>
