<br><br><br><br><br><br><br>

<headline><h1>Welcome to Count the Pennies!</h1></headline>




<!-- <div class="centre">
  <div class="image1">
<a href="https://ibb.co/e9tmAp"><img src="https://preview.ibb.co/bSqYqp/logo_finished.png" alt="logo_finished" border="0" height="150" width="150"></a>
</div></div> -->

<img src="/images/advert.jpg" alt="advert" width="200">




<div class="Summary">
  <h2>Who are we?</h2>
<p> We at Count the Pennies are looking to help you with your goals. From helping you organise your spending to helping you get back in black.
We want to make sure you get the best out of our free web app so  be sure to check all our features. <br>
Monitor your spending, your way. </p>
</div>
