<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="utf-8">
  <title>
    Welcome to Count the Pennies </title>
  </head>
  <body>
    <ul>
      <li> <a href="/"> <img src="/images/logo_finished.png" alt="advert" width="80">
 </a></li>
      <li> <a href="/counting_pennies/tag"> Your Tags </a> </li>
      <li> <a href="/counting_pennies/merchant"> Your Merchants </a> </li>
      <li> <a href="/counting_pennies">Your Spending</a>
        <ul>
          <a href="/counting_pennies/today"> Today </a>
        </ul>
        <ul>
          <a href="/counting_pennies"> Since You Joined </a> </ul>
      </li>
      <li> <a href="/counting_pennies/search"> Search </a> </li>
    </ul>
    <%= yield %>
  </body>
  </html>
