<br><br><br><br><br><br>

<headline><h1>Search Your Expenditures</h1></headline>

<br><br><br><br><br><br>


<form action="/counting_pennies/search_result" method="post">


  <label for="search-field">Search Expenditure</label>
  <input
  type="text"
  name="search"
  id="search-field"
  />

  
  <input type="submit" value="Create">

</form>
