<br><br><br><br><br><br><br>

<headline> <h1> Show Your Expendature </h1> </headline>

<br><br><br>

<p>Tag: <%= @spending.tag_id %></p>
<p>Merchant: <%= @spending.merchant_id %></p>
<p>Price: <%= @spending.price %></p>
<p>Product: <%= @spending.product %></p>
