<br><br><br><br><br><br>

<div class="headline">

<headline><h1>All Tags</h1> </div></headline>


<br>
<p></p>




<% @tags.each do |tag| %>
<div class="centre">


<div class="grid">
<div class="cell">
<p>Tag: <%= @number += 1 %> </p>
</div>

<div class="cell">
<p> Name: <%= tag.name %></p>
</div>
</div>



</div>

<div class="centre">
<div class="button1 button"><p><a href="/counting_pennies/tag/edit/<%= tag.id %>">Edit Tag</a></p> </div>
</div>

</p>

<br>


<% end %>

<div class="centre">
<div class="button1 button"><p><a href="/counting_pennies/tag/new">Create New Tag</a></p> </div>
</div>
