body {
    font-family: arial;

}

ul {
  margin: left;
  padding: center;
  list-style: none;
  line-height: 40px;


}

ul li {
  color: #212121;
  float: left;
  width: 200px;
  height: 40px;
  line-height: 60px;
  text-align: center;

}

ul li a
{
  /* removes lines under text */
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  color: #212121;
  display: block;
  border-radius: 5%;
  margin: 2px;



}

ul li a:hover
{
background-color: pink;
opacity: 0.6px;
display: block;

}

ul li ul {
  display: none;
}

ul li:hover ul
{
  display: block
}

h1 {
  text-align: center;
  line-height: 1.6;

}

.grid {
 border: 3px solid #03A9F4;
 background-color: white;
 width: 40%;

}

.centre {
 display:flex;
 justify-content: center;
}

.cell {
  display: flex;
 padding: 10px;
 border: 1px solid #03A9F4;
 flex: 1;
 text-align: left;

}
button
{
text-decoration: none;
font: 20px;
}

.button a{
  text-decoration: none;
  font: 20px;
  color: black;
  margin: 30px 30px;

}

.button {
  padding: 7px 7px;
  display: inline-block;
  border-radius: 3px;
  background-color: #ccc;
  border: 1px solid black;
}

.button1 {
  background: #F8BBD0;
  color: #F8BBD0;

}

.button1:hover {
  background: #BDBDBD;
}



label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    font-size:20px;

}
input {
  display: inline-block;
  float: center;
  font-size:20px;
}

select {
  display: inline-block;
  float: center;
  font-size:20px;
}

.headline {
  font-size:30px;
  font-family: Vollkorn;
}

.Summary {
  width:400px;
  height:50px;
  line-height:30px;
}
